/* stylelint-disable no-missing-end-of-source-newline */
.box {
  height: 200px;
}

#noir {
  background: #222;
  border: 15px solid #000;
}

#vert {
  background: #292;
  border: 15px solid #070;
}

#rouge {
  background: #922;
  border: 15px solid #700;
}

#bleu {
  background: #229;
  border: 15px solid #007;
}

@media (min-width: 600px) {
  body {
    display: flex;
    flex-wrap: wrap;
  }

  #vert {
    order: 0;
  }

  .box {
    width: 50%;
    order: 1;
  }
}

@media (min-width: 900px) {
  body {
    display: flex;
    flex-wrap: nowrap;
  }

  #noir {
    display: none;
  }
}

@media (min-width: 1200px) {
  #noir {
    display: flex;
  }
}