/* stylelint-disable no-missing-end-of-source-newline */
.box {
    height: 25vh;
}
#noir {
    background-color: RGB(34, 34, 34);
    border: 15px solid RGB(0, 0, 0);
}

#vert {
    background-color: RGB(42, 151, 44);
    border: 15px solid RGB(13, 118, 15);
}

#rouge {
    background-color: RGB(151, 36, 38);
    border: 15px solid RGB(118, 2, 6);
}

#bleu {
    background-color: RGB(36, 40, 150);
    border: 15px solid RGB(2, 10, 117);
}

@media screen and (min-width: 600px) {
    body {
        display: flex;
        flex-wrap: wrap;
    }

    #vert {
        order: 0;
    }
    .box {
        width: 50%;
        height: 50vh;
        order: 1;
    }    
}

@media screen and (min-width: 900px) {
    
    #noir {
       display: none;
    }

    .box {
        width: calc(100% / 3);
        height: 100vh;
    }
}